body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(76, 96, 175, 0.62);
    overflow-x: hidden;
}

nav {
    background: linear-gradient(to bottom, #87CEEB, #eee75c, #87CEEB, #77ee5c, #eee75c );
    color: #fff;
    padding: 10px;
    text-align: right;
    width: 100%;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.menu-list a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#about {
    background-color: rgba(76, 96, 175, 0.62);
    padding: 20px;
    width: 100%;
}
#about .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#about .paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 10px;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-player {
    width: 100%;
    max-width: 800px;
}
.subscription-plans-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.subscription-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.subscription {
    width: 300px;
    padding: 20px;
    background-color: rgba(76, 96, 175, 0.62);
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.subscription h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.subscription p {
    font-size: 14px;
    margin-bottom: 5px;
}

.subscription button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.subscription button:hover {
    background-color: #0056b3;
}

.subscription-payment {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(76, 96, 175, 0.62);
    border-radius: 5px;
}

.subscription-payment h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.subscription-payment h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.subscription-payment input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscription-payment button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscription-payment button:hover {
    background-color: darkblue;
}

#about-aviator {
     margin-top: 20px;
     padding: 20px;
     background-color: rgba(76, 96, 175, 0.62);
     border-radius: 5px;
 }

#about-aviator h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#about-aviator p {
    font-size: 14px;
    margin-bottom: 5px;
}

#contact {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(76, 96, 175, 0.62);
    border-radius: 5px;
}

#contact h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#contact p {
    font-size: 14px;
    margin-bottom: 5px;
}

#contact a {
    color: blue;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(48, 48, 51, 0.62);
    padding: 20px;
    text-align: center;
    color: white;
}

footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: blue;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 400px) {
    body {
        overflow-x: hidden;
    }
    .menu-icon {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
    }

    .menu-list a {
        padding: 10px 20px;
    }

}