body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(86, 175, 90, 0.29);
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.menu-list a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.subscription-plans-section{
    background-color: rgba(86, 175, 90, 0.29);
}
.subscription-plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    backdrop-filter: blur();

}

.subscription{
    background-color: rgba(0, 0, 255, 0.53);
    border: 1px solid yellow;
    border-radius: 10px;
    margin: 10px;
}

.subscription-payment{
    background-color: rgba(0, 0, 255, 0.06);
}

input[type="text"], h3, h4 {
    height: 40px;
    padding: 4px;
    font-size: 16px;
    border-top: green;
    margin: 10px ;
    border-radius: 10px;
}

button {
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 6px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: green;
}
.plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.plan h2 {
    color: white;
}

.plan p {
    color: white;
}

.plan button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.plan button:hover {
    background-color: #45a049;
}

video {
    max-width: 100%;
    height: auto;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, p {
    margin-bottom: 10px;
}


@media screen and (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
    }

    .menu-list a {
        padding: 10px 20px;
    }

}